@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

$background: #A73131;
$text: #FAFAFA;
$leftAlign: 15rem;
.download{
    display: flex;
    align-items: center;
    width: 208px;
    height: 47px;
    margin-bottom: 2rem;
    .downloadButton{
        width: 208px;
        height: 47px;
        background: #FF6464;
        border-radius: 2px;
        font-family: 'Heebo', sans-serif;
        font-style: normal;
        font-size: 20px;
        line-height: 29px;
        font-weight: 500;
        border: none;
        cursor:pointer;
        opacity: 0.6;
        transition: 0.3s;
    }
    .downloadButton:hover {opacity: 1}
}

@import 'responsive';
