.footer{
    height: 5rem;
    color: #a73131;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 15rem;
    width: 100%;

    .socialLink{
        display: flex;
        justify-content: center;
        gap: 1rem;
        h6{
            font-size: large;
            font-weight: bold;
            cursor: pointer;
        }
        h6:hover{
            box-shadow: 0px 0px 20px rgba(52, 57, 59, 0.25);
        }
    }
    .copywriteText{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@import 'responsive';
