.container{
    background: white;
    display: flex;
    justify-content: center;
    .leftContainer{
        width: 50%;
        height: auto;
        color: black;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        gap: 4rem;
        font-size: 2.5em;
        padding-left: 15rem;
        h1{
            // filter: drop-shadow(16px 16px 10px black);
        }
    }
    .rightContainer{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .imagePic{
                clip-path: circle(12rem at center);
                background: white;
                // height: auto;
                // width: 8rem;
                // background: white;
                height: 32rem;
                width: 20rem;
                
            }
    }
}