@import '../pages/common/commonvalues';

.main {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .section{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
