
$background: #EDF7FA;
$text: #21243D;
$leftAlign: 1rem;
$rightAlign: 15rem;
.recentPost{
    height: 396px;
    font-size: larger;
    position: relative;
    
    .recentPostInside{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: $background;
        height: 100%;
        .header{
            display: flex;
            justify-content: space-between;
            color: $text;
            padding-left: $leftAlign;
            padding-top: 1rem;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 60px;
            h4{
                display: inline-block;
                position: relative;
                cursor: pointer;
            }
            h4::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #0087ca;
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
              }
              
              h4:hover::after {
                background: red;
                transform: scaleX(1);
                transform-origin: bottom left;
              }
        }
        .main{
            display: flex;
            justify-content: flex-start;
            color: $text;
            padding-left: $leftAlign;
            padding-right: $leftAlign;
            padding-top: 1rem;
            gap: 2rem;
            border-radius: 4px;
        }
        
    }
}


@import '../../responsive';
