$background: #fcf4f4;
$text: #A73131;
.boxOuter{
    width: 35rem;
    height: 295px;
    background: $background;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 3rem;
    cursor: pointer;    
    .header{
        color: $text;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
        color: #21243D;
    }
    .addInfo{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #21243D;
    }
    .description{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
    }
}
.boxOuter:hover{
    box-shadow: 0px 0px 20px rgba(52, 57, 59, 0.25);
}

@import '../../responsive';
